body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
  scroll-behavior: smooth;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("../img/mac.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
/*Rodapé da página*/
#foot {
  background-color: rgb(246, 61, 187);
  color: rgb(109, 232, 133);
}

/* Carrossel (Por enquanto presente só em relatos)*/
#conteudo {
  width: 100%;
}

#carrossel {
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: 1.2rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

#carrossel::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}

#carrossel::-webkit-scrollbar-thumb{
  background: #000;
}

#card {
  scroll-snap-align: start;
  border-radius: 30px;
  min-height: 200px;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}