
    

.div1{
    background-color: rgba(227, 248, 237, 0.774);
    height:100%;
    margin-top: 0%;
    padding: 1%;
    
}

.div2{
    background-color: rgb(246, 61, 187);
    width: 30%;
    height: 61%;
    left: 20%;
    margin-top: 0%;
    position: absolute;


}
.div4{
    background-color: rgba(231, 140, 170, 0.774);
    width: 30%;
    height: 75%;
    left: 50%;
    margin-top: 0%;
    position: relative;
}

/*responssive para tela moble*/
/*@media screen and (min-width:1px){*/
/*configuração de h1 e texto */
h1#doacao{
    text-align: center;
    color: #008000;
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
    width: 28%;
    height: 14%;
    margin-left:35%;
    margin-top: 0%;
    animation: animate 1.10s linear infinite;
    
}

@keyframes animate{

    0%{ 
        opacity: 0;
    }
    50%{ 
        opacity: 0.7;
    }
    30%{
        opacity: 0;

    }
}
/*}*/
/*configurando texto da class div1*/
h2#nomeentidade{
    text-align: center;
    color: aliceblue;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif; 
    margin-top: 30%; 
}

h3#nomeentidade2{
    text-align: center;
    color: aliceblue;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif; 
    margin-top: -4%;
}
/*configurando texto da class div3 pix*/
h3#nomepix{

    text-align: center;
    color: aliceblue;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif; 
    margin-top: 35%;

}
/*configurando texto da class div4*/
h1#casaentidade{

    text-align: center;
    color: aliceblue;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif; 
    margin-top: 1%;
    
}
h2#casaentidade2{

    text-align: center;
    color: aliceblue;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif; 
    margin-top: -4%;
    
}
p#textmotivacional1{

    text-align: center;
    color: aliceblue;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif; 
    margin-top: 25%;
}
p#textmotivacional2{

    text-align: center;
    color: aliceblue;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif; 
    margin-top: -4%;
    
}
p#textmotivacional3{

    text-align: center;
    color: aliceblue;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif; 
    margin-top: -4%;
}
p#animacaodoar{
    text-align: center;
    color: aliceblue;
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10%; 
}

  
  
/*configurando imagens da class conteiner1 com imagens logo e qrcode*/
.logo img{
    width: 30%;
    height: 30%;
    overflow: hidden;
    left: 35%;
    position: absolute;
    margin-top: 1%;
}

/*configurando imagens da class conteiner3*/
.div3 img{
    background-color: rgba(58, 40, 46, 0.774);
    position: absolute;
    width: 25%;
    height: 25%;
    left: 36%;
    margin-top: 10%;
    
}


/*fim de configurando imagens e de @media moble*/
